version: "3.9"
services:
 rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - "15672:15672"
    volumes:
      - 'rabbitmq_data:/data'
 fibonacci.rest:
    build:
     context: ./
     dockerfile: ./Fibonacci.Rest/Dockerfile
    ports:
      - "80:80"
    environment:
      - RMQ_CONNECTION_STRING=host=rabbitmq
    depends_on:
      - "rabbitmq"
 fibonacci.mq:
    build:
     context: ./
     dockerfile: ./Fibonacci.MQ/Dockerfile
    environment:
      - RMQ_CONNECTION_STRING=host=rabbitmq
      - FIBONACCI_REST_URI=http://fibonacci.rest/      
      - WORKERS_COUNT=7
    depends_on:
      - "rabbitmq"
      - "fibonacci.rest"
volumes:
  rabbitmq_data: